<!-- <div class="text-layout">
    <h1>{{ nombre | titlecase }}</h1>
    <h1>{{ valor | number }}</h1>
    <h1>{{ objeto | json }}</h1>
</div>

<button pButton type="button" label="Apreta y gana" ></button>

<button pButton type="button" icon="pi pi-check" iconPos="bottom" label="botonucho"></button>

<button pButton
        type="button"
        label="Help"
        class="p-button-help"
        icon="pi pi-check"
        iconPos="right"
        (click)="mostrarNombre()"></button>

        <p-card
        [header]="nombre | titlecase"
        subheader="Subtitulo de lo anterior">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. A distinctio qui eos neque vero, veniam vel, placeat ad accusantium facilis earum libero et aliquam reiciendis fugit unde amet voluptatum quod.
        </p-card> -->

        <app-menu></app-menu>